@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
	background-color: #f1f1f1;	
	margin: 0;
	}

header {
	position: static;
	height: 42px; 
	width: 100%;	
	background-color: #54A461;
	flex-wrap: wrap;
 align-content: stretch;
	}

.wraper {
	display: flex;
	flex-direction: column;
	}
.content {
      position: relative;
      margin:12px 14px 12px 14px;
     background: #FEFBFB;
	border: 1px solid #FEFBFB;
	box-sizing: border-box;
	box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.49);
	border-radius: 16px;
	flex: 0 1 870px;
}

footer {
	position: relative;
	height: 40px; 
	width: 100%;
	background-color: #000000;
	color: #ffffff;
font-family: Satisfy;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 22px;
text-align: center;
	
}

span{
	
}

a{
	margin-left: 25px; 
	

	font-family: Satisfy;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 24px;
text-decoration: none;
color: #FEFEFE;
width: 62px;
height: 26px;
mix-blend-mode: normal;
}

.home {
margin-left: 30%;
}

