body{
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

header {
	background-color: #cc0605;
	width: 100%;
	height: 50px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
	display: flex;
	justify-content: space-between;
}

font {
	margin: 0, auto;
	font-size: 36px;
	color: #ffffff;
}

a{
	text-decoration: none;
	font-size: 30px;
	color: #cc0605;
}

a.visited{
	color: #cc0605;
}

li{
	list-style-type: none;
}